# Environment variables
.env

# OAuth credentials
mycreds.txt
credentials.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
.env/

# IDE
.vscode/
.idea/

# Misc
*.log
